<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
 
<div class="row mt-5">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <img src="https://www.cotiinformatica.com.br/imagens/logo-coti-informatica.png" class="img-fluid" />
                    <h5>Acesso ao Sistema</h5>
                </div>
                <hr />
 
                <div *ngIf="mensagem_sucesso" class="alert alert-success alert-dismissible fade show mt-2 mb-2" role="alert">
                    <strong>Sucesso!</strong> {{mensagem_sucesso}}
                    <button type="button" class="btn-close" aria-label="Close" (click)="limparMensagens()"></button>
                  </div>
                 
                  <div *ngIf="mensagem_erro" class="alert alert-danger alert-dismissible fade show mt-2 mb-2" role="alert">
                    <strong>Erro!</strong> {{mensagem_erro}}
                    <button type="button" class="btn-close" aria-label="Close" (click)="limparMensagens()"></button>
                  </div>
 
                <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
 
                    <div class="mb-3">
                        <label>Email de acesso:</label>
                        <input type="text" class="form-control" formControlName="email"
                            placeholder="Digite seu email aqui" />
 
                        <div class="text-danger" *ngIf="form.email.touched && form.email.invalid">
                            <div *ngIf="form.email.errors.required">
                                Por favor, informe seu email.
                            </div>
                            <div *ngIf="form.email.errors.email">
                                Por favor, informe um email válido.
                            </div>
                        </div>
 
                    </div>
 
                    <div class="mb-3">
                        <label>Senha de acesso:</label>
                        <input type="password" class="form-control" formControlName="senha"
                            placeholder="Digite sua senha aqui" />
 
                        <div class="text-end">
                            <a [routerLink]="['/user-password']">Esqueci minha Senha.</a>
                        </div>
 
                        <div class="text-danger" *ngIf="form.senha.touched && form.senha.invalid">
                            <div *ngIf="form.senha.errors.required">
                                Por favor, informe sua senha.
                            </div>
                        </div>
 
                    </div>
 
                    <div class="mb-1">
                        <div class="d-grid">
                            <input type="submit" value="Acessar Sistema" [disabled]="!formLogin.valid"
                                class="btn btn-primary" />
                        </div>
                    </div>
 
                    <div class="mb-3">
                        <div class="d-grid">
                            <button class="btn btn-light" [routerLink]="['/user-register']">
                                Não possui conta? <strong>Cadastre-se aqui!</strong>
                            </button>
                        </div>
                    </div>
 
                </form>
 
            </div>
        </div>
    </div>
</div>



